<p>
  {{ form.first_name.label }}<br>
  {{ form.first_name(size=32) }}<br>
  {% for error in form.first_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</p>

<p>
  {{ form.last_name.label }}<br>
  {{ form.last_name(size=32) }}<br>
  {% for error in form.last_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</p>

<p>
  {{ form.apartment_complex.label }}<br>
  {{ form.apartment_complex() }}<br>
  {% for error in form.apartment_complex.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</p>

<p>
  {{ form.bio.label }}<br>
  {{ form.bio(rows=4, cols=32) }}<br>
  {% for error in form.bio.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</p>

<p>
  {{ form.preferences.label }}<br>
  {% for subfield in form.preferences %}
    <label>{{ subfield() }} {{ subfield.label.text }}</label><br>
  {% endfor %}
</p>

<p><button type="submit" class="btn">Create Profile</button></p>